<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
  <% if current_user %>
    <h4>Hi <%= current_user.user_name %>!</h4>
    <%= button_to("Logout", session_url, method: :delete) %>
  <% else %>
    <%= button_to("Login", new_session_url, method: :get) %>
    <%= button_to("Sign up", new_user_url, method: :get) %>
  <% end %>
  <% unless current_page?(cats_url) %>
    <%= button_to("All Cats", cats_url, method: :get) %>
  <% end %>
  </header>

<%= render "shared/errors" %>

<%= yield %>

</body>
</html>
